<%= form_for :cohort, url: cohorts_path do |f| %>
    <%= render partial: 'application/errors', layout: false, locals: { errors: @errors } %>

      <p class="cohort-fields-container">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </p>


  <div class="actions">
    <button id="create-cohort-btn" class="pure-button pure-button-primary create-cohort-btn">Create Cohort</button>
  </div>
<% end %>
